$cream: #E9DCCD;
$petal: #E3BAB3;
$burgundy: #613A43;
$fresh: #849974;
$charcoal: #36384C;
$egg-white: #EEF4F7;

.team-clean {
  color: #313437;
  background-color: $egg-white;
  margin: 30px 30px;
}

.team-clean p {
  color:#7d8285;
}

.team-clean h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  margin-bottom: 40px;
  padding-top: 40px;
  color: $charcoal;
}

.team-clean .people {
  padding-bottom:40px;
}

.team-clean .item {
  text-align:center;
  padding-top:50px;
}

.team-clean .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-clean .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:$fresh;
  letter-spacing:2px;
  font-size:13px;
}

.team-clean .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
<<<<<<< HEAD
  padding: 20px;
  text-align: left;
=======
>>>>>>> 532f71bd0c613bdeab0b43d50475c4b71a606a59
}

.team-clean .item img {
  max-width: 350px;
}
<<<<<<< HEAD

@media (max-width: 1280px) {
  .team-clean {
    h1 {
      margin-bottom:20px;
      padding-top:20px;
    }

    .item img {
      max-width: 250px;
    }
  }
}

@media (max-width: 1160px) {
  .team-clean {
    .item img {
      max-width: 210px;
    }
  }
}

@media (max-width: 767px) {
  .team-clean {
    h1 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 60px;
    }

    .item img {
      max-width: 300px;
    }
  }

  .jumbotron {
    h1 {
      font-size: 60px;
    }
  }
}
=======
>>>>>>> 532f71bd0c613bdeab0b43d50475c4b71a606a59
