$cream: #E9DCCD;
$petal: #E3BAB3;
$burgundy: #613A43;
$fresh: #849974;
$charcoal: #36384C;

.header-dark {
  background:url(../../assets/img/mountain_bg.jpg) #444;
  background-size:cover;
  padding-bottom:80px;

  .hero {
    margin-top:60px;

    h1 {
      color:#fff;
      font-family:'Bitter', serif;
      font-size:80px;
      margin-top:50px;
      margin-bottom:60px;
    }

    .embed-responsive iframe {
      background-color:#666;
    }
  }
}

@media (min-width:768px) {
  .header-dark {
    padding-bottom:120px;

    .hero {
      margin-top:20px;

      h1 {
        margin-bottom:50px;
        line-height:1.5;
      }
    }
  }
}

@media (min-width: 300px) {
  dl, ol, ul {
    font-size:14px;
  }
}

@media (min-width: 576px) {
  dl, ol, ul {
    font-size:22px;
  }
}

.jumbotron {
  font-family: 'Great Vibes', cursive;

  ul li {
    color: $charcoal;
  }

  h1 {
    font-size: 100px;
    color: $charcoal;
    margin-bottom: 10px;
  }
}
