<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Our Venue</h3>
                  <ul>
                      <li><a href="##">Wedding</a></li>
                      <li><a href="#">Lawn</a></li>
                      <li><a href="#">Carriage House</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">About</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Company Name</h3>
                  <p>Situated on 32 private acres, just 133 miles west of Washington, D.C., StoneBridge is a charming country estate with a variety of outdoor event settings suitable for up to 250 guests. You arrive at the estate and park in Pennsylvania; but as you stroll the property you enter into Maryland, crossing the historic Mason-Dixon Line. At StoneBridge, North meets South and dreams meet reality.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
      </div>
  </footer>
</div>
