<nav id="elegant" class="navbar navbar-expand-lg">
  <a class="navbar-brand mr-auto" href="#">Stonebridge</a>

  <!-- HAMBURGER ICON FOR MOBILE -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto px-2">
      <li class="nav-item active">
        <a class="nav-link" href="wedding-page.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Venues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
