<div id="parallax-1" class="parallax-img-1 parallax-lg">
  <div class="parallax-text landing">
    Stonebridge Venue
  </div>
  <div class="parallax-text">
    <span class="border">
      <a href="#" class="btn btn-landing">Wedding</a>
    </span>
  </div>
</div>
