<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials</h2>
            <p class="text-center">Our customers love us! Read what they have to say below.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item" id="testimonials-column">
                <div class="box">
                    <p class="description">Gorgeous setting, incredibly efficient staff! Highly recommend# Tent setting was elegant withe the chandeliers and was very impressed with the size of the round tsbles. We easily sat 12 chairs at our table.<br /></p>
                </div>
                <div class="author"><img src="../../assets/img/testimonial-profile.jpeg" class="rounded-circle" />
                    <h5 class="name">Jeanie Laffey</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item" id="testimonials-column">
                <div class="box">
                    <p class="description">As a local photographer, I highly recommend this venue to any couple looking for an amazing wedding location! The inside, outside, AND the tent is the most gorgeous place I&#39;ve ever photographed! Thank you Stonebridge for being
                        so helpful and accommodating!<br /></p>
                </div>
                <div class="author"><img src="../../assets/img/testimonial-profile.jpeg" class="rounded-circle" />
                    <h5 class="name">Kyra Lashley</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item" id="testimonials-column">
                <div class="box">
                    <p class="description">We had our daughters wedding here this summer and it was absolutely magical. The staff the day of the wedding made everything flow effortlessly. The beauty of this Venue is one of a kind!<br /></p>
                </div>
                <div class="author"><img src="../../assets/img/testimonial-profile.jpeg" class="rounded-circle" />
                    <h5 class="name">Cindy Diamond</h5>
                </div>
            </div>
        </div>
    </div>
</div>
