<div class="features-boxed">
    <div class="container">
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-map-marker icon" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="false"></i>
                    <h3 class="name">The Lawn</h3>
                    <p class="description">The expansive front lawn blends the classic landscaping of the manor with the natural beauty of a quaint brook and large pond. It is framed with mature trees that are waiting for your dreams of your wedding.<br></p><a href="#"
                        class="learn-more">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-clock-o icon" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="false"></i>
                    <h3 class="name">Carriage House</h3>
                    <p class="description">The Carriage House features cathedral ceilings with exposed wood beams, stone-covered front wall, second floor balcony, oversized light fixtures and large windows flooding the space with plenty of natural light.<br></p><a href="#"
                        class="learn-more">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-list-alt icon" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="false"></i>
                    <h3 class="name">Celebration Tent</h3>
                    <p class="description">During your reception, guests can celebrate with you in the comfort of a beautiful 40' x 120' white special event tent, complete with dance floor, chandeliers and cloth draped tables to delight the crowd.<br></p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-leaf icon" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true"></i>
                    <h3 class="name">Special Occasions</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-plane icon" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true"></i>
                    <h3 class="name">Location</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-phone icon" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true"></i>
                    <h3 class="name">Contact</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a>
                </div>
            </div>
        </div>
    </div>
</div>
