<div class="parallax-img-3 parallax-md">
  <div class="ptext">
    <span class="trans">
    What others are saying
  </span>
  </div>
</div>

<div class="row" id="row-discover">
  <div class="col-sm-12 col-lg-6">
    <section class="section section-dark pt-4">
      <h2 class="mt-5">Wedding Testimonials</h2>
      <p>
        <i class="fas fa-quote-left"></i> My husband and I were married here on September 23rd. To say we had the wedding of our dreams is an understatement. Everything was absolutely wonderful, and we couldn’t have asked for a more perfect day! This
        venue is stunning, so classy and beautiful on its own, but the work they’ve done on it has made it one of a kind. We were the first couple to book the venue for the entire weekend (Friday afternoon through Sunday afternoon). We had our wedding
        party stay the whole weekend, had our rehearsal dinner on Friday and wedding on Saturday. We were able to relax, do some decorating, and enjoy friends and family Friday night, and still wake up refreshed on Saturday. This greatly reduced stress
        on the day of! We wanted our wedding to be a care free, weekend long celebration, and it was just that and more. We are still beaming over the whole experience. Thank you Leah and Shauna for helping to make it perfect!
        <i class="fas fa-quote-right"></i>
      </p>
      <button class="btn btn-section-two">View All</button>
    </section>
  </div>

  <div class="col-sm center-block" id="section-two-margin">
    <img src="../assets/img/section-three-image-lg.jpeg" class="img-fluid rounded mx-auto d-block" alt="">
  </div>
</div>
