<div class="container-fluid" id="section-background">
  <div class="row">
    <div class="card-group" id="card-group1">
      <div class="col-sm-6 col-lg-4" id="card-one">
        <div class="card text-white mb-3" id="card-bg-charcoal">
          <div class="card-header text-center">The Lawn</div>
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Lawn</h5> -->
            <img class="card-img-top" src="../assets/img/cards-image1.jpg" alt="The Lawn">
            <p class="card-text text-left">
              The expansive front lawn blends the classic landscaping of the manor with the natural beauty of a quaint brook and large pond. It is framed with mature trees that are waiting for your dreams of your wedding.
            </p>
            <button class="btn btn-row-one-card">Learn More</button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4" id="card-two">
        <div class="card text-white mb-3" id="card-bg-charcoal">
          <div class="card-header text-center">Carriage House</div>
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Secondary card title</h5> -->
            <img class="card-img-top" src="../assets/img/cards-image2.jpeg" alt="Carriage Houses">
            <p class="card-text text-left">
              The Carriage House features cathedral ceilings with exposed wood beams, stone-covered front wall, second floor balcony, oversized light fixtures and large windows flooding the space with plenty of natural light.
            </p>
            <button class="btn btn-row-one-card">Learn More</button>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 mb-2">
        <div class="card text-white mb-3" id="card-bg-charcoal">
          <div class="card-header text-center">Celebration Tent</div>
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Success card title</h5> -->
            <img class="card-img-top" src="../assets/img/cards-image3.jpeg" alt="Celebration Tent">
            <p class="card-text text-left">
              During your reception, guests can celebrate with you in the comfort of a beautiful 40' x 120' white special event tent, complete with dance floor, chandeliers and cloth draped tables to delight the crowd.
            </p>
            <button class="btn btn-row-one-card">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-group" id="card-group1">
      <div class="col-sm-6 col-lg-4" id="card-one">
        <div class="card text-white mb-3" id="card-bg-cream">
          <a href="#"><div class="card-header text-center">Special Occasions</div></a>
          <div class="card-body">
            <!-- <h5 class="card-title">Lawn</h5> -->
            <img class="card-img-top" src="../assets/img/cards-image1.jpg" alt="Special Occasions">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4" id="card-two">
        <div class="card text-white mb-3" id="card-bg-petal">
          <div class="card-header text-center">Location</div>
          <div class="card-body">
            <!-- <h5 class="card-title">Secondary card title</h5> -->
            <img class="card-img-top" src="../assets/img/cards-image2.jpeg" alt="Location">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 mb-2" id="card-three">
        <div class="card text-white mb-3" id="card-bg-fresh">
          <div class="card-header text-center">Contact</div>
          <div class="card-body">
            <!-- <h5 class="card-title">Success card title</h5> -->
            <img class="card-img-top" src="../assets/img/cards-image3.jpeg" alt="Contact">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
