<div class="parallax-img-2 parallax-md">
  <div class="ptext">
    <span class="trans">
      Experiencing Stonebridge
    </span>
  </div>
</div>

<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Discover Stonebridge</h2>
            <p class="text-center">
                Situated on 32 private acres, just 133 miles west of Washington, D.C., StoneBridge is a charming country estate with a variety of outdoor event settings suitable for up to 250 guests. You arrive at the estate and park in Pennsylvania; but as you
                stroll the property you enter into Maryland, crossing the historic Mason-Dixon Line. At StoneBridge, North meets South and dreams meet reality. StoneBridge embraces traditions both old and new, and it's secluded scenery is the perfect backdrop
                for your special event. Our exceptional service and attention to detail will allow you to focus on what is truly important. Let us help you make your affair unforgettable.
            </p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/desk.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/building.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/loft.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/building.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/loft.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/desk.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/loft.jpg" /></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/img/building.jpg" /></a></div>
        </div>
    </div>
</div>
