.header-dark {
  background: url(../../assets/img/mountain_bg.jpg) #444;
  background-size: cover;
  padding-bottom: 80px; }
  .header-dark .hero {
    margin-top: 60px; }
    .header-dark .hero h1 {
      color: #fff;
      font-size: 80px;
      margin-top: 50px;
      margin-bottom: 60px;
      font-family: 'Great Vibes', cursive; }
    .header-dark .hero .embed-responsive iframe {
      background-color: #666; }

@media (min-width: 768px) {
  .header-dark {
    padding-bottom: 120px; }
    .header-dark .hero {
      margin-top: 20px; }
      .header-dark .hero h1 {
        margin-bottom: 50px;
        line-height: 1.5; } }

@media (min-width: 300px) {
  dl, ol, ul {
    font-size: 14px; } }

@media (min-width: 576px) {
  dl, ol, ul {
    font-size: 22px; } }

.jumbotron {
  font-family: 'Great Vibes', cursive; }
  .jumbotron ul li {
    color: #36384C; }
  .jumbotron h1 {
    font-size: 100px;
    color: #36384C;
    margin-bottom: 10px; }
