<div>
    <div class="header-dark">
        <div class="container hero">
            <div class="row">
                <div class="col-md-12 col-xl-12 offset-md-0 offset-xl-0">
                    <h1 class="text-center">The Wedding of Your Choice</h1><img src="../assets/img/wedding-page-main.jpeg" width="100%" height="100%" class="img-fluid" /></div>
            </div>
        </div>
        <blockquote class="blockquote">
            <p class="text-center mb-0" style="padding:15px;color:#e9dccd;"><br />Your dream wedding comes to lifeat StoneBridge&#39;s picturesque country manor with it&#39;s impeccably kept grounds, and sweeping views of rolling hills. You and your guests will celebrate in secluded natural beauty with exclusive use
                of this unique property. Whether you decide to exchange vows by a babbling brook, pond-side, or in front of the charming manor, we want to make your dream a reality.<br /><br /></p>
            <footer class="blockquote-footer float-right" style="margin-right: 20px;">Stonebridge</footer>
        </blockquote>
    </div>
</div>
