<div class="container">
  <div class="jumbotron" style="background-color:rgba(43,44,48,0);">
      <h1 class="text-center">Stonebridge Provides</h1>
      <ul style="font-family:Bitter, serif;">
          <li>Access to grounds 9 AM to 11 PM<br /></li>
          <li>Private &amp; elegant outdoor venue with manicured lawns &amp; pond side setting<br /></li>
          <li>Endless photo opportunities inside &amp; outside<br /></li>
          <li>Exclusive use of the manor for bridal party preparation/pictures<br /></li>
          <li>Wedding arbor<br /></li>
          <li>Chairs for ceremony arranged to bridge&#39;s design<br /></li>
          <li>Tented reception area to accommodate 250 guests with dance floor<br /></li>
          <li>72&quot; round tables &amp; chairs for reception<br /></li>
          <li>Assistance with set-up &amp; Post wedding clean-up<br /></li>
          <li>Staff on-site during contracted time of your event for trouble shooting &amp; assistance<br /></li>
          <li>Clean, comfortable restroom facilities<br /></li>
          <li>On-site parking with golf cart valet for elderly or disabled guests<br /></li>
      </ul>
  </div>
</div>
