<div class="team-clean">
    <!-- <div class="container"> -->
        <div class="intro">
            <h1 class="text-center">Stonebridge Packages</h1>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-3 item"><img class="img-thumbnail" src="../assets/img/wedding-page-feature1.jpeg" />
                <h3 class="name">Entire Weekend</h3>
                <p class="title">Friday 3PM - Sunday 3PM</p>
                <p class="description"><br />Start your celebration weekend at StoneBridge by welcoming out-of-town or bridal party guests, schedule a rehearsal dinner on the grounds, or begin wedding day preparationsin a relaxed setting.  You have full use of the entire
                    property including the manor which sleeps up to 12 people. Check out is on Sunday afternoon, allowing you to savor the sweet memories of your special day with family and friends.  Enjoy a late morning brunch, host family for a
                    gift-opening party, take in local restaurants or events or just bask in the beauty of your new life together before leaving for home.  This includes all wedding package provisions stated above.<br /><br /></p>
            </div>
            <div class="col-md-6 col-lg-3 align-self-start item"><img class="img-thumbnail img-fluid" src="../assets/img/wedding-page-feature2.jpeg" />
                <h3 class="name">Saturday</h3>
                <p class="title">9AM - 11PM</p>
                <p class="description"><br />Call to book your wedding as soon as possible as Saturdays are the most popular days for weddings and our dates are filling up fast. This package avails you to the charm of StoneBridge from morning to night.  Includes all items
                    listed above.<br /><br /></p>
            </div>
            <div class="col-md-6 col-lg-3 align-self-start item"><img class="img-thumbnail" src="../assets/img/wedding-page-feature3.jpeg" />
                <h3 class="name">Friday/Sunday</h3>
                <p class="title">9AM - 11PM</p>
                <p class="description"><br />To accommodate the various schedules, needs, and budgets of our brides we offer Friday or Sunday dates.  This package includes all wedding package offerings as stated above for those on a more limited budget.<br /><br /></p>
            </div>
            <div class="col-md-6 col-lg-3 align-self-start item"><img class="img-thumbnail" src="../assets/img/wedding-page-feature3.jpeg" />
                <h3 class="name">Reception</h3>
                <p class="title">Only!</p>
                <p class="description"><br />If your dream wedding involves a church or off-site ceremony but still want to enjoy your reception at StoneBridge’s enchanted property, this package gives you that option.  Our convenient location just minutes from downtown
                    Cumberland off of Rt. 220, makes iteasy for your guests to arrive quickly after your ceremony and enjoy hors d&#39;oeuvres, cocktails, lawn games and mingle while you take post-ceremony photos.  Insideaccess to manor is available
                    upon request.<br /><br /></p>
            </div>
        </div>
    <!-- </div> -->
</div>
