<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header.ejs %>
  </head>

  <body>
    <% include partials/_navbar.ejs %>
    <% include partials/landing-main.ejs %>
    <% include partials/main-features.ejs %>
    <% include partials/section-two.ejs %>
    <% include partials/testimonials-main.ejs %>
    <% include partials/_footer.ejs %>
    <% include partials/_scripts.ejs %>
  </body>
</html>
