<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header.ejs %>
  </head>
  
  <body>
    <% include partials/_navbar.ejs %>
    <% include wedding-partials/landing.ejs %>
    <% include wedding-partials/section-one.ejs %>
    <% include wedding-partials/section-two.ejs %>
    <% include partials/_footer.ejs %>
    <% include partials/_scripts.ejs %>
  </body>
</html>
